
<div class="sloth-embed">
    <div class="sloth-photo">{{ content.field_photo }}</div>
    <p><strong>{{ content.title }}</strong></p>
    <p>Cuteness: {{ content.field_cuteness }}</p>
    <p class="sloth-notes">{{ content.field_sloth_notes }}</p>
</div>



