/**
 * @file
 * Classes for the sloth module.
 */
.sloth-embed {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    padding: 8px;
}
.sloth-photo {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.sloth-notes {
    clear: left;
}

.sloth-embed .local-content {
    border-radius: 8px;
    border-width: 2px;
    border-color: green;
    border-style: solid;
    padding: 8px;
    color: green;
}
